@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Kufi Arabic', sans-serif;
}

/* ================header================= */
/* ***************top bar***************** */
/* selectors */
/* id's */
.social-icons {
  padding: 0.7%;
  color: #fff;
  border-right-color: #fff;
}

#fb :hover {
  color: #4267B2;
}

#fb-m :hover {
  color: #00B2FF;
}

#wa :hover {
  color: #25D366;
}

#tel :hover {
  color: #0088cc;
}

#hotline-container {
  position: fixed;
  display: flex;
  z-index: 999;
  width: 100%;
}

/* classes */
.icons-container {
  width: 100%;
  margin: 0.7%;
  z-index: 1000;
}

.hot-line {
  margin: 0.9% auto 0 auto;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #fff;
  /* font */
  color: #000;
  font-size: 130%;
}

.hot-line a {
  color: #000;
  text-decoration: none;
}

.hot-line:hover a {
  color: #fff;
  text-decoration: none;
}

.hot-line:hover {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff7800;
  color: #fff;
}

.header {
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 1000;
  background-color: #000;
}

/* **************navigation bar********************** */
/* selectors */
/* id's */
#logo {
  width: 11.5rem;
  height: auto;
  margin-left: 10%;
}

/* classes */
.navbar-nav {
  font-size: 1.7rem;
  margin-right: 2rem;
}

.navbar {
  position: absolute;
  display: flex;
  width: 100%;
  margin-top: 2.5%;
  z-index: 999;
}

.container-fluid .navbar-nav .nav-link {
  color: #000;
font-size: 2rem;
width: 50%;
margin: auto;
padding: 5%;
}

.container-fluid .navbar-nav {
  padding-left: 55%;
}
.navbar-collapse {
  text-align: center;
}

.container-fluid .navbar-nav .nav-link:hover {
  font-size: 2rem;
  color: #fff;
  background-color: #bc0b0b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.navbar-toggler .navbar-toggler-icon {
    display: inline-block;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

/* ========================products================================= */
#products {
position: relative;
padding: 10%;
}

.mainContainerProducts{
padding: 5%;
}

.description{
  padding: 3%;
  line-height: 1.8;
  font-size: 1rem;
  text-align: right;
}
.container1 {
  padding-top: 7%;

}
/* ==================================================================== */
/* ******************main************************ */
hr {
  border-top: dotted 5px #ff7800;
  width: 30%;
  position: relative;
  top: 50%;
  text-align: center;
  margin: 10% auto 0 auto;
}

.mainContainer {
  width: 99%;
  position: relative;
  margin-bottom: 20%;
}

.mainContainerImage {
  width: 110%;

}

.para {
  margin: auto;
  text-align: right;
    font-size:1.8rem;
}

.para h1 {
font-size: 2rem;
  line-height: 1.5;
}

.left h1 {
  padding: 10%;
  padding-bottom: 0;
  color: #ff7800;
  text-align: right;
}

.left {
  position: relative;
  text-align: right;
}

.left img {
  width: 60%;
  margin-left: 40%;
}

.left p {
  width: 60%;
  font-size: 1.5rem;
  margin-top: 10%;
  text-align: right;
}

.right {
  position: relative;
}

.right img {
  width: 60%;
}

.right p {
  width: 60%;
  font-size: 1.5rem;
  margin-left: 40%;
  margin-top: 10%;
  text-align: right;
}

/* ###############footer#################### */
.footerContainer {
  position: relative;
  bottom: 0;
  background-color: #000;
  padding: 3%;
  width: 100%;
  color: #fff;
  text-align: right;
}
.footerContainer li {
  text-align: right;
}
.footerContainer a {
  color: #fff;
}

.pressed {
  color: gray;
}

/* ==================================================================================================================== */
/* ###################About################### */
.mainContainerAbout {
  width: 99%;
  position: relative;
  margin-bottom: 5%;
}

.mainContainerImageAbout {
  width: 80%;
  margin-left: 20%;
  margin-top: 15%;

}

#AboutPara {
  margin-top: 5%;
}
.AboutPara {
  margin: 5%;
  line-height: 1.8;
}
.AboutBody button {
  margin: 40%;
}
#Abuot_red {
  font-size: 1.70rem;
  color: #fff;
  background-color: #880808;
  border-radius: 10px;
}

.AboutBody {
  width: 99%;
  position: relative;
font-size: 1.7rem;
  text-align: right;

}

.staff {
  margin: 5%;
  text-align:center;
}
.staff img {
  margin: 5%;
}
/* ###################About################### */



/* ==================================================================================================================== */
@media (max-width:1028px) {

  hr {
    border-top: dotted 10px #ff7800;
    width: 30%;
    position: relative;
    top: 10%;
    margin: 0 auto 0 auto;
    margin-top: 10%;
    padding-right: 10%;
  }

  .nav-item {
    padding: 0.5rem;
    width: auto;
  }

  .navbar-nav {
    font-size: 3rem;
    margin-right: 2rem;
    background-color: #fff;
  }

  .nav-link:hover {
    font-size: 2.70rem;
    color: #fff;
    background-color: #880808;
    border-radius: 10px;
  }
  .container-fluid .navbar-nav {
    padding-left: 0%;
  }
  #logo {
    width: 15rem;
    height: auto;
    margin-left: 10%;
  }

  .header {
    bottom: 0;
    position: fixed;
    display: flex;
    width: 100%;
    height: 5%;
    z-index: 1000;
    background-color: #000;
  }

  .social-icons {
    padding: 2%;
    color: #fff;
    border-right-color: #fff;
  }

  #fb {
    color: #4267B2;
  }

  #fb-m {
    color: #00B2FF;
  }

  #wa {
    color: #25D366;
  }

  #tel {
    color: #0088cc;
  }

  .icons-container {
    width: 100%;
    margin: auto;
    z-index: 1000;
  }

  .hot-line {
    margin: auto;
    margin-bottom:0;
    height: 100%;
    width: 25%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    /* font */
    color: #000;
    font-size: 1.70rem;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
  }

  .hot-line a {
    color: #000;
    line-height: 1.5;
    font-size: 2.3rem;
  }

  #hotline-container {
    height: 5.5%;
    position: fixed;
    display: flex;
    z-index: 999;
    width: 100%;
    bottom: 0;
  }

  .footerContainer {
    position: relative;
    bottom:0;
    background-color: #000;
    padding: 3%;
    padding-bottom: 20%;
    width: 100%;
    color: #fff;
  }

  .footerContainer a {
    color: #fff;
  }

  .mainContainer img {
    width: 100%;
    padding-top: 10%;
  }

  .para {
    margin: auto;
    text-align: center;
      font-size:2.5rem;
  }

  .para h1 {
  font-size: 3rem;
    line-height: 1.5;
  }

  .left {
    position: relative;
    padding-top: 5%;
  }

  .left img {
    width: 100%;
    margin-left: 15%;
  }

  .left p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 5%;
    margin-top: 25%;
  }

  .right {
    position: relative;
    padding-top: 5%;
  }

  .right img {
    width: 80%;
    margin-left: 10%;
  }

  .right p {
    width: 100%;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 25%;
  }
  .description{
    padding: 3%;
    line-height: 1.8;
    font-size: 2rem;
    text-align: right;
  }
  /* ==================================================================================================================== */
  /* ###################About################### */
  .mainContainerAbout img {
    width: 100%;
    padding-top: 5%;
    margin: auto;
  }

  #AboutPara {
    margin: auto;
    padding-top: 5%;
    text-align: center;
    width: 100%;
    font-size: 3rem;
    line-height: 1.5;
  }

  #Abuot_red {
    font-size: 1.70rem;
    color: #fff;
    background-color: #880808;
    border-radius: 10px;
  }
.callUsAbout{
  margin: auto;
}
  /* ###################About################### */
  /* ==================================================================================================================== */
.accordion-button{
   font-size: 3rem;

 }


}
